# Python
__pycache__/
*.py[cod]
.venv/
venv/
vendor/
.env
.pytest_cache/

# Node
node_modules/
dist/

# Database
*.db
*.sqlite
*.sqlite3

# Environment / secrets
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db